.services-section{
    padding: 2% 12%;
    background-color: #FFFFFF;
    
}

.firstsrvice-container{
    text-align: center;
}



.firstservice-photo {
    padding: 3rem 0 5rem 0;
}

.secondservice-photo {
    padding: 2rem 0 2rem 0;
}

.lastservice-photo {
    padding: 5rem 0 2rem 0;
}
.service-title {
    color: #fff;
    background-color: #F6AD9E; 
    border-radius: 5%;
}
.secondservice-container{
 padding: 2rem 0;
}
.service-name {
border-radius: 5%;
border-color: black;
border-right: 5px;
}





.tool-box {
    border-color: black;
    border-radius: 5%;
    border-block-color: black;
}
.box-title {
    color: #F6AD9E; 
    border-radius: 20%;
}

.service-heading {
    text-align: inherit;
    padding: 2rem 0 ;
}
hr {
    font: bold;
}