.categories-heading {
    text-align: center;
    background-color: #F6AD9E;
    color: #fff;
    font-size: 2rem;
    border-radius: 5PX;
    padding: 2% 0%;
    font-weight: bold;
}
.categorie-section {
   background-color:  #FFFFFF;
  
  
}
.categorie-title {
    color:  #F6AD9E;
    margin: 2rem 0;
    text-align: center;
}
.categorie-container {
    border-radius: 5%;
     background-color: #FFFFFF;
    margin: 2% 12%;
   
}
.color-part {
    background-color:  #F6AD9E;
    position: absolute;
  
}